#foreach($operation in $serviceModel.operations)
#if($serviceNamespace != "S3Crt" || !$operation.s3CrtEnabled)
#if($arnEndpointSupported)
#if($multiRegionAccessPointSupported)
#set($signerName = ", computeEndpointOutcome.GetResult().signerName.c_str() /*signerName*/")
#else
#set($signerName = ", Aws::Auth::SIGV4_SIGNER")
#end
#set($signerRegionOverride = ", computeEndpointOutcome.GetResult().signerRegion.c_str() /*signerRegionOverride*/")
#set($signerServiceNameOverride = ", computeEndpointOutcome.GetResult().signerServiceName.c_str() /*signerServiceNameOverride*/")
#else
#set($signerName = "")
#set($signerRegionOverride = "")
#set($signerServiceNameOverride = "")
#end
#if($serviceModel.endpointRules)
#set($signerName = "")
#set($signerRegionOverride = "")
#set($signerServiceNameOverride = "")
#end
#if($operation.result.shape.hasEventStreamMembers())
#set($constText = "")
#set($refText = "&")
#else
#set($constText = "const ")
#set($refText = "")
#end
#if($operation.request)
#parse("com/amazonaws/util/awsclientgenerator/velocity/cpp/xml/rest/serviceoperations/withrequest/SubmitOpOperation.vm")

#parse("com/amazonaws/util/awsclientgenerator/velocity/cpp/xml/rest/serviceoperations/withrequest/OperationOutcome.vm")

#parse("com/amazonaws/util/awsclientgenerator/velocity/cpp/common/operation/withrequest/OperationOutcomeCallable.vm")
#parse("com/amazonaws/util/awsclientgenerator/velocity/cpp/common/operation/withrequest/OperationAsync.vm")
#else
#parse("com/amazonaws/util/awsclientgenerator/velocity/cpp/xml/rest/serviceoperations/withoutrequest/OperationOutcome.vm")

#end
#end
#end
